.carousel-indicators-custom {
  z-index: index;
  bottom: 15px;
}

.carousel-item-custom {
  margin: 85px 1px;
  width: 100%;
}

.carousel-item--caption-custom {
  right: 2.5%;
  left: 2.5%;
}

.img-main-ad {
  object-fit: cover;
  width: 100%;
  height: 100mvh;
}
