html {
  font-size: 62.5%;
  background-color: #fff;
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  font-size: 1.372rem;
  line-height: 1.5495;
  letter-spacing: -0.02em;
  font-family: Helvetica, sans-serif;
  color: #002f34;
  height: 100%;
}

.fonts-loaded-ltr .gm-style,
.fonts-loaded-ltr body,
.fonts-loaded-ltr button,
.fonts-loaded-ltr input,
.fonts-loaded-ltr optgroup,
.fonts-loaded-ltr select,
.fonts-loaded-ltr textarea {
  font-family: Roboto, Helvetica, sans-serif;
}

.fonts-loaded-ltr body {
  font-size: 1.4rem;
  line-height: 1.5;
  letter-spacing: normal;
}
