.list-header-div {
  margin-top: 1.6rem;
  margin-right: 70%;
}

.bread-crumb {
  position: relative;
  margin-right: 100px;
}

.list-ul {
  display: flex;
  align-items: left;
  justify-content: left;
  flex-wrap: wrap;
  margin: 0 100px !important;
  padding-bottom: 0.8rem;
  max-width: 100%;
}

.list-li {
  margin: 0;
  white-space: nowrap;
}

.home-path {
  color: rgba(0, 47, 52, 0.64);
  text-decoration: none;
}
.home-path-a {
  margin: 0 0.8rem;
}
