.header-a {
  background-color: #f7f8f8;
  position: sticky;
  top: 0;
  z-index: 6;
  margin-top: -10px;
}

.header-div-a-1 {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.header-div-a-2 {
  display: flex;
  align-items: center;
}

.header-div-b-2 {
  display: flex;
  padding: 1rem 0;
}

.header-div-a-logo {
  margin-right: 4rem;
  margin-top: 10px;
}

.header-div-a-logo-1 {
  display: flex;
  margin-top: 15px;
  padding-bottom: 0.6rem;
}

a {
  color: #222;
  text-decoration: none;
}

.svg-logo-a {
  width: 3.2rem;
  height: 2rem;
  fill: #3a77ff;
}

.svg-motors-a {
  width: 88.9;
  height: 33;
}

.svg-motors-a:hover {
  fill: #3a77ff;
}

.svg-main-logo {
  margin: auto;
  height: 3.5rem;
}

.svg-main-inp-a {
  width: 1.6rem;
  height: 1.6rem;
}

.main-logo {
  margin: auto;
}

.header-inp-location {
  min-width: 27.2rem;
  margin: 0 1.6rem 0 3.5rem;
  position: relative;
}

.header-inp-location-div-b-1 {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #002f34;
  height: 48px;
  max-height: 100%;
  display: flex;
}

.header-inp-location-div-b-2 {
  border: 2px solid #012f34;
  border-radius: 4px;
}

.header-inp-location-search-icon-1 {
  display: flex;
}

.header-inp-location-search-icon-2 {
  margin-left: 0.8rem;
  fill: #002f34;
}

.header-inp-location-search-icon-3 {
  align-items: center;
}

.input-location-a {
  color: #002f34;
  font-size: 1.596rem;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0 0 0 1.2rem;
  width: 100%;
  height: 100%;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  resize: none;
}

.input-location-drop-a {
  display: flex;
}

.input-location-drop-b {
  align-items: center;
}

.dropdown-trigger-a {
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 1.6rem;
  transition: transform 0.2s;
  cursor: pointer;
}

.location-dropdown {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  max-height: 320px;
  overflow-y: auto;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 12%), 0 6px 6px 0 rgb(0 0 0 / 24%);
}

.current-location-div-a:not(:last-child) {
  border-bottom: 0.1rem solid #ced6d7;
}

.current-location-div-b {
  cursor: pointer;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  transition: background-color 0.15s;
}

.current-location-div-c {
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
}

.current-location-div-a-1 {
  display: flex;
}

.current-location-div-b-1 {
  color: #3a77ff;
}

.current-location-div-c-1 {
  align-items: center;
}

.current-location-text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 0.8rem;
  overflow: hidden;
}

.current-location-text-wrap-span-a {
  font-size: 1.596rem;
}

.current-location-text-wrap-span-b {
  font-weight: 700;
}

.find-bar {
  flex: 1;
}

.find-bar-a {
  position: relative;
}

.find-bar-search-a {
  display: flex;
}
.find-bar-search-b {
  flex: 1;
}

.find-bar-search-c {
  flex: 1;
}

.find-bar-search-d {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #002f34;
  height: 48px;
  max-height: 100%;
  display: flex;
}

.find-bar-search-inp {
  color: #002f34;
  font-size: 1.596rem;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0 0 0 1.2rem;
  width: 100%;
  height: 100%;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  resize: none;
}

.find-bar-search-e {
  border: 2px solid #012f34;
  border-radius: 4px;
}

.find-bar-search-b > div:first-of-type > div:first-of-type {
  border-radius: 4px 0 0 4px;
}

.find-bar-search-f {
  display: flex;
  justify-content: space-between;
  margin-top: 0.2rem;
}

.find-bar-search-btn-a {
  background: none;
  border: none;
  appearance: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: inherit;
}

.find-bar-search-btn-b {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #002f34;
  border-radius: 0 4px 4px 0;
  height: 48px;
  width: 48px;
  fill: #fff;
}

.login-main-a {
  display: flex;
  margin-left: 3.2rem;
  align-items: center;
}

.login-main-btn-a {
  background: none;
  border: none;
  appearance: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: inherit;
}

.login-main-btn-b {
  border-bottom: 2px solid #002f34;
}

.login-main-btn-b:hover {
  border-bottom: 0px;
}

.login-main-btn-span-a {
  font-size: 1.596rem;
  font-weight: 700;
}

.header-sell {
  margin-left: 2rem;
}

.header-sell-a {
  background: none;
  border: none;
  appearance: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: inherit;
  display: flex;
  pointer-events: auto;
  position: relative;
}

.header-sell-c {
  display: flex;
  position: absolute;
  top: 1.6rem;
  left: 2.5rem;
  justify-content: center;
  align-items: center;
}

.header-sell-img-b {
  margin-right: 0.4rem;
}

.header-sell-span-a {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
}

/* Media Quries */

@media (min-width: 320px) and (max-width: 720px) {
  .header-div-b-2 {
    display: inline-block;
    padding: 1rem 0;
}

.login-main-a {
  margin-top: 1rem;
  margin-left: 0;
}
.header-sell {
  margin-top: 1rem;
  margin-left: 0;
}

.sell-img-a {
  width: 70px;
}

.header-sell-c {
  top: 0.5rem;
  left: 0.5rem;
}

.header-a {
  background-color: #f7f8f8;
  position: static;
  top: 0;
  z-index: 6;
  margin-top: -10px;
  /* height: 20rem; */
}
}

@media (min-width: 420px) and (max-width: 720px) {
  .header-inp-location {
    min-width: 40.0rem;
    margin: 1rem 0 1rem 0;
}
}

@media (min-width: 320px) and (max-width: 420px) {
  .header-inp-location {
    min-width: 30.0rem;
    margin: 1rem 0 1rem 0;
}
}