.try-app-div-a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.try-app-div-b {
    height: 20rem;
    background: rgba(0,47,52,.03);
}

.try-app-div-c {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.try-app-div-d {
    width: 100%;
}

.try-app-div-e {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.try-app-div-mobile-app-height {
    height: 100%;
}

.try-app-para-div {
    margin-left: 4.4rem;
    margin-right: 1.6rem;
}

.try-app-para-div div:first-child {
    margin: 2.8rem 0 1.6rem;
    font-size: 3.2rem;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
}

.try-app-para-div div:nth-child(2) {
    font-size: 2rem;
    max-width: 40rem;
}

.try-app-div-line-a {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.try-app-div-line-b {
    width: 0.2rem;
    margin: 0 auto;
    background-color: rgba(0,47,52,.2);
    height: 13.6rem;
}

.try-app-div-last-colm {
    margin-left: 3.2rem;
}

.try-app-div-last-colm div:first-child {
    margin: 6rem 0 1.2rem;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
}

.try-app-div-line-last-colm >:not(:last-child) {
    margin-right: 0.8rem;
}

.try-app-div-colm-img {
    width: 12.8rem;
    height: 4rem;
}