.try-app-div-a {
  display: flex;
}

.try-app-div-b {
  height: 20rem;
  background: rgba(0, 47, 52, 0.03);
}

.try-app-div-c {
  justify-content: center;
}

.try-app-div-d {
  width: 100%;
}

.try-app-div-e {
  justify-content: space-between;
}

.try-app-div-mobile-app-height {
  height: 100%;
}

.try-app-para-div {
  margin-left: 4.4rem;
  margin-right: 1.6rem;
}

.try-app-para-div div:first-child {
  margin: 2.8rem 0 1.6rem;
  font-size: 3.2rem;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
}

.try-app-para-div div:nth-child(2) {
  font-size: 2rem;
  max-width: 40rem;
}

.try-app-div-line-a {
  align-items: center;
}

.try-app-div-line-b {
  width: 0.2rem;
  margin: 0 auto;
  background-color: rgba(0, 47, 52, 0.2);
  height: 13.6rem;
}

.try-app-div-last-colm {
  margin-left: 3.2rem;
}

.try-app-div-last-colm div:first-child {
  margin: 6rem 0 1.2rem;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
}

.try-app-div-line-last-colm > :not(:last-child) {
  margin-right: 0.8rem;
}

.try-app-div-colm-img {
  width: 12.8rem;
  height: 4rem;
}

@media (min-width: 320px) and (max-width: 1215px) {

  .try-app-div-last-colm > :not(:first-child) {
    display: inline-block;
  }

  .try-app-div-d {
    width: auto;
  }
  
}

@media (min-width: 600px) and (max-width: 1080px) {

  .try-app-div-colm-img {
    width: 9.8rem;
    height: 2rem;
  }

  .try-app-div-last-colm div:first-child {
    font-size: 1.0rem;
  }
  
  .try-app-div-last-colm {
    margin-left: 0.2rem;
}
}

@media (min-width: 600px) and (max-width: 900px) {
  .try-app-div-d {
    width: 50%;
  }
}