.checkbox-div-1-a {
    display: flex;
}

.checkbox-div-1-c {
    align-items: center;
}

.checkbox-div-2-a {
    cursor: pointer;
    width: 100%;
} 

.checkbox-div-2-b {
    position: relative;
}

.checkbox-div-2-inp {
    position: relative;
    width: 2.4rem;
    min-width: 2.4rem;
    height: 2.4rem;
    min-height: 2.4rem;
    margin: 0;
    cursor: pointer;
    appearance: none;
    outline: none;
    border: 0.1rem solid #002f34;
}

.checkbox-div-2-a:hover
.checkbox-div-2-inp {
    border: 0.2rem solid #002f34;
}

.checkbox-div-2-inp:checked {
    background-color: #002f34;
}

.svg-checkbox {
    position: absolute;
    fill: #fff;
    left: 0;
    top: 0;
    width: 2.4rem;
    height: 2.4rem;
    pointer-events: none;
}

.checkbox-span-1-a {
    white-space: nowrap;
    margin: 0 2.4rem 0 0.8rem;
}

.checkbox-span-2-a {
    font-size: 1.204rem;
}
