.main-fresh-recommendation-wrap-a {
  display: flex;
  max-width: 1280px;
  margin: 1.6rem auto;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

.main-list-fresh-recom {
  padding: 0 1.6rem;
  box-sizing: inherit;
}

.main-list-fresh-recom-name-a {
  font-size: 2.394rem;
  display: block;
  color: #002f34;
  margin-bottom: 0.8rem;
}

.main-list-ul-a {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0.8rem;
}
